@section Scripts
{
    <script src="~/js/Registrate.js"></script> ">
}

<style>
    td {
        padding: 5px;
    }
</style>


<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <a class="navbar-brand" asp-controller="Gallery" asp-action="Index">> hq_pkgs</a>
        <div class="navbar-collapse">
            <ul class="navbar-nav flex-grow-1">
                @if (ViewData["sessionId"] == null)
                {
                    <li class="nav-item" style="float:right">
                        <a class="nav-link text-dark" asp-controller="Login" asp-action="Login">Login</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>

<p></p>

<form id="form" action="/Registrate/Authenticate" method="post">
    <table align="center">
        <tr>
            <td>Username:</td>
            <td><input id="username" name="username" class="form-control-from" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input id="NewPWD" name="NewPWD" type="password" class="form-control-from" /></td>
        </tr>
        <tr>
            <td>Confirm your Password:</td>
            <td><input id="ConfirmedPWD" name="ConfirmedPWD" type="password" class="form-control-from" /></td>
        </tr>
        <tr>
            <td colspan="2" align="right"><input id="submitBtn" type="submit" class="button" /></td>
        </tr>

        <tr>
            <td colspan="2" align="center"><div class="err_msg">@ViewData["errMsg"]</div></td>
        </tr>
    </table>
</form>